footer{
    position: sticky;
    background-color: purple;
}

ol li: :nth-child(3){
    color: red;
}

figure{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

nav{
    display:flex;
    flex-direction: column;
}

article > i{
    color: salmon;

}

nav a:hover{
    color: white;
    text-decoration: underline;
    background-color: violet;
}

#Lorem{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#About{
    color: aqua;
}

#Hobbie{
    background-color: orange;
}

#Froggy{
    color: white;
    background-color:green;
}

#Career{
    font-family: fantasy;
    color: blue;
    text-decoration: underline;
}

*{
    border-style:dotted;
    border:green;
    padding: 8px;
}