footer{
    position: sticky;
    background-color: purple;
}

ol li:third-child{
    color: red;
}

figure{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

nav{
    display:flex;
    flex-direction: column;
}

article > i{
    background-color: salmon;
}

nav a:hover{
    color: white;
    text-decoration: underline;
    background-color: violet;
}

#Lorem{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#About{
    color: aqua;
}

#Hobbie{
    background-color: orange;
}