footer{
    position: sticky;
    background-color: purple;
}

ol li:third-child{
    color: red;
}

figure{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

nav{
    display:flex;
    flex-direction: column;
}

h3 > article{
    background-color: salmon;
}

nav a:hover{
    color: white;
    text-decoration: underline;
    background-color: violet;
}