@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-color: var(--main-bg);
    font-size: 18px;
    width: 1440px;
    margin: 40px;
}

.theme-dark{
    --bg-image: url("../images/bg-desktop-dark.jpg");
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --font-color: hsl(233, 11%, 52%);
    --font-color-hover: hsl(236, 33%, 92%);
}

.theme-light{
    --bg-image: url("../images/bg-desktop-light.jpg");
    --main-bg: hsl(236, 33%, 92%);
    --todo-bg: hsl(0, 0%, 98%);
    --font-color: hsl(235, 19%, 35%);
    --font-color-hover: hsl(236, 9%, 61%);
}

h1{
    font-weight: 700;
    color: white;
    letter-spacing: 10px;
}


 header{
    
    flex-direction: row;
    justify-content: space-between; 
     align-items: center; 
} 

.text{
    background: transparent;
    font-size: 18px;
    height: 20px;
    border-style: none;
    color:var( --font-color);
}


 .main, .mainBottom, .bottomRow, .newTask, header, .toDoItem, .filter, .list, .clearButton, header{
    display: flex;
} 
.main{
    
    flex-direction: column;
    justify-content: center; 
    align-content:center;  

    width: 550px;
    margin: 0 auto;     
} 

.bottomRow{
    
    flex-direction: row;
    background-color: var(--todo-bg);
    align-items:center;
}

/* .list{
    border-bottom: solid 1px;
    background-color: hsl(235, 24%, 19%);
} */

.newTask{
    
    background-color: var(--todo-bg);
    padding: 20px;
    border-radius: 5px;
}

.button{
    background:none;
    border:none;
    margin:0;
    padding:5px;
    color: var(--font-color);
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

.toDoItem input[type="checkbox"]:checked{ 
    background-color: linear-gradient(hsl(192,100%,67%), hsl(280, 87%, 65%));
    border-radius: 50%;
}



.mainBottom{
    background-color: var(--todo-bg);
    border-radius: 5px;
    flex-direction: column;
}

.filter{
    /* display:flex; */
    justify-content: center;

}

.filter button:hover{
    color: var(--font-color-hover);
}

.clearButton{
    background:none;
    border:none;
    margin:0;
    padding:5px;
    color: var(--font-color);
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

.clearButton:hover{
    color: var(--font-color-hover);
}

p{
    /* display:flex; */
    justify-content: flex-start;
    color: var(--font-color); 
    font-size: 16px;
}

/* Checkbox */
/* .container input:checked ~ .checkmark {
    background: linear-gradient(hsl(192,100%,67%), hsl(280, 87%, 65%));
} */

/* hide default checkbox
.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width:0;
}  */

/* .checkmark{
    position: absolute;
    top:0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #eee;
    border-radius: 50%;
} */

.toDoItem{
    /* display:flex; */
    flex-direction: row;
    padding: 10px;
    border-bottom: solid 1px;
    margin-left: 0px;
    align-items:center;
    justify-content: space-between;
}

/* .toDoItem .cross{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
} */

.bottomRow{
    align-content: space-around;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 10px;
}

.list{
    flex-direction: column;
}

.items{
    margin-left: 10px;
    margin-right: 10px;
    color: hsl(234, 39%, 85%)
}

.check{
    margin-left: 0px;
    border: 1px solid hsl(233, 11%, 52%);;
    border-radius: 50%;
    font-size: 18px;
    height: 20px;
    width:20px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.check img{
    transform: scale(0);
    transition: all 0.3s ease;
}

.active-check{
    border: 1px solid hsl(233, 11%, 52%);;
    border-radius: 50%;
    background: linear-gradient(hsl(192,100%,67%), hsl(280, 87%, 65%));
    height: 20px;
    width:20px;
    display: grid;
    place-content: center;
}

.active-check img{
    transform: scale(1)
}

.complete{
    text-decoration: line-through;
}

.theme-block #theme{
    display:none
}

.theme-block #theme + label::before{
    content: " ";
    background: url(../images/icon-sun.svg);
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.theme-block #theme:checked + label::before{
    background: url(../images/icon-moon.svg);
}

.mobile{
    display: none;
}

@media(max-width: 375px){

    body{
        width:375px;
        margin: 10px;
    }
    .main{
        width:355px;
    }

    .mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 365px;
        height: 40px;
        border-radius: 5px;
        background-color: var(--todo-bg);
        margin-top: 15px;
    }

    .filter{
        display: none;
    }
}





