@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-color: hsl(235, 21%, 11%);
    font-size: 18px;
    color: white;
    width: 1440px;
    margin: 40px;
}

h1{
    font-weight: 700;
    color: white;
    letter-spacing: 10px;
}


 header{
    
    flex-direction: row;
    justify-content: space-between; 
     align-items: center; 
    width: 550px; 
} 

.text{
    background: transparent;
    width: 550px;
    font-size: 18px;
    height: 20px;
    border-style: none;
    color:hsl(234, 39%, 85%)
}


 .main, .mainBottom, .bottomRow, .newTask, header, .toDoItem, .filter, .list, .clearButton, header{
    display: flex;
} 
.main{
    
    flex-direction: column;
     justify-content: center; 
    align-content:center;  

    width: 550px;
    margin: 0 auto;     
} 

.bottomRow{
    
    flex-direction: row;
    background-color: hsl(235, 24%, 19%);
    align-items:center;
}

/* .list{
    border-bottom: solid 1px;
    background-color: hsl(235, 24%, 19%);
} */

.newTask{
    
    background-color: hsl(235, 24%, 19%);
    padding: 20px;
    border-radius: 5px;
}

.button{
    background:none;
    border:none;
    margin:0;
    padding:5px;
    color: hsl(233, 11%, 52%);
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

.toDoItem input[type="checkbox"]:checked{ 
    background-color: linear-gradient(hsl(192,100%,67%), hsl(280, 87%, 65%));
    border-radius: 50%;
}



.mainBottom{
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    
    width: 550px;
    flex-direction: column;
}

.filter{
    /* display:flex; */
    justify-content: center;

}

.filter button:hover{
    color: hsl(236, 33%, 92%)
}

.clearButton{
    background:none;
    border:none;
    margin:0;
    padding:5px;
    color: hsl(233, 11%, 52%);
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

.clearButton:hover{
    color: hsl(236, 33%, 92%)
}

p{
    /* display:flex; */
    justify-content: flex-start;
    color: hsl(233, 11%, 52%); 
    font-size: 16px;
}

/* Checkbox */
.container input:checked ~ .checkmark {
    background: linear-gradient(hsl(192,100%,67%), hsl(280, 87%, 65%));
}

/*hide default checkbox */
.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width:0;
} 

.checkmark{
    position: absolute;
    top:0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #eee;
    border-radius: 50%;
}

.toDoItem{
    /* display:flex; */
    flex-direction: row;
    padding: 10px;
    border-bottom: solid 1px;
    margin-left: 0px;
    align-items:center;
    justify-content: space-between;
}

/* .toDoItem .cross{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
} */

.bottomRow{
    align-content: space-around;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 10px;
}

.list{
    flex-direction: column;
}

.items{
    margin-left: 10px;
    margin-right: 10px;
    color: hsl(234, 39%, 85%)
}

.check{
    margin-left: 0px;
    border: 1px solid hsl(233, 11%, 52%);;
    border-radius: 50%;
    font-size: 18px;
    height: 20px;
    width:20px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.check img{
    transform: scale(0);
    transition: all 0.3s ease;
}

.active-check{
    background: linear-gradient(hsl(192,100%,67%), hsl(280, 87%, 65%));
}

.active-check img{
    transform: scale(1)
}






