@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-color: hsl(235, 21%, 11%);
    font-size: 18px;
    color: white;
}

h1{
    font-weight: 700;
    color: white;
}


 header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    
} 

.main{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    /* align-items: center; */
    width: 550px;
    margin: 0 auto;
}

.bottomRow{
    display:flex;
    flex-direction: row;
    background-color: hsl(235, 24%, 19%);
    
}

.list{
    
    background-color: hsl(235, 24%, 19%);
}

.newTask{
    display: flex;
    background-color: hsl(235, 24%, 19%);
    padding: 20px;
}

.button{
    background:none;
    border:none;
    margin:0;
    padding:5px;
}