@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: salmon;
    margin: 40px;
    color:white
}

table{
    width: 80%;
    background:rgb(136, 135, 138);
    margin: 20px;
    /* display: flex;
    justify-content: flex-start; */
}


h2{
    width:50px;
    height:50px;
    background-color: turquoise;
}
h1{
    color:white;
    display: flex;
    justify-content: center;
}

table.list{
    text-align: center;
}


td{
    border: 2px solid white;
    padding: 20px;
}

div{
    padding: 10px;
}

#state{
    width: 35px;
}

#zip{
    width: 57px; 
}

input[type="text"], input[type="email"], input[type="number"]{
    border-radius: 3px;
}

th{
    font-size: larger;
}

@media (max-width:425px){
    
    body{
        margin: 0px;
    }

    table{
        width: 425px;
    }

    table.list{
        display:flex;
        flex-direction: column;
    }
}
