@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    
    font-family: 'Roboto', sans-serif;
    background-color: cornflowerblue;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 45px;
}

h1{
    font-size: 60px;
}

p{
    font-size: 30px;
}