@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: cornflowerblue;
}

h3{
    display: flex;
    justify-content: center;
}