@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
background-color: rgba(242, 117, 244, 0.63);
font-family: 'Righteous', cursive;
margin: 50px;
}

.home, .home-left, .home-right{
    display: flex;
    /* justify-content: space-around; */
}

.home-left{
    background-color: #ffffff;
    width: 600px;
    height: 800px;
    flex-direction: column;
    border-style:none;
    border-radius: 30px;
    align-items: center;
    
}
.home-right{
    flex-direction: column;
    align-items: center;
    width: 600px;
    
}