@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{

    font-family: 'Righteous', cursive;
}

section{
    width: 800px;
    height: 800px;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 30px;
}