header{
    background-color: pink;
    display: flex;
    align-items: space-between;
}

nav{
    display:flex;
    align-content: space-between;
    justify-content: center;
}

span{
    display: flex;
    justify-content: flex-end;
}

h2{
    display:flex;
    
}